fastapi==0.115.3
html2text==2024.2.26
langchain==0.3.4
langchain_chroma==0.1.4
langchain_core==0.3.12
langchain_openai==0.2.3
langchain_community==0.3.3
llama-index==0.11.19
ollama==0.3.3
pytest==8.3.3
uvicorn==0.32.0
#sentence_transformers